/target
.idea/
__MACOSX/
.DS_Store
data/ml-100k/README
data/ml-100k/allbut.pl
data/ml-100k/mku.sh
data/ml-100k/u.genre
data/ml-100k/u.info
data/ml-100k/u.occupation
data/ml-100k/u.user
data/ml-100k/u*.base
data/ml-100k/u*.test
/reports